@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Momo+Signature&family=Momo+Trust+Display&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.Nav {
    z-index: 10000000;
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0px;
    font-family: "Roboto", sans-serif;
}

.Nav-Label {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.Nav-Main {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 90%;
}

.title {
    font-family: "Momo Trust Display", sans-serif;
    cursor: pointer;
    font-size: 23px;
    color: white;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;

}

.buttons li {
    cursor: pointer;
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s all ease;
}

.buttons li:hover {
    color: gold;
}

.bar-button {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
}

.active {
    color: gold !important;
}

.responsive-nav {
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.300);
    display: flex;
    width: 100%;
    height: 108vh;
    z-index: 1000;
    position: fixed;
    top: -1500px;
    left: 0px;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    transition: 0.3s all ease;
}

.responsive-nav-button {
    font-size: 20px;
    color: white;
    font-family: "roboto", sans-serif;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.responsive-nav p:last-of-type{
    margin-bottom: 150px;
}

@media screen and (max-width: 600px) {
    .bar-button {
        display: block !important;
    }
    .title {
        font-size: 18px;
    }
    .buttons {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .title {
        font-size: 12px;
    }
}