<nav class="Nav">
    <div class="Nav-Label">
        <div class="Nav-Main">
            <div class="Content">
                <p class="title" routerLink="/">N. Natenadze</p>
                <ul class="buttons">
                    <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</li>
                    <li routerLink="/projects" routerLinkActive="active">Projects</li>
                    <li routerLink="/about" routerLinkActive="active">About</li>
                    <li routerLink="/contact" routerLinkActive="active">Contact</li>
                </ul>
            </div>
        </div>
    </div>
</nav>