<section class="content">
    <div class="content-div">
        <div class="info">
            <p class="title"><span>N</span>ikoloz <span>N</span>atenadze<span>.</span></p>
            <p class="info-content">I’m a web and backend developer passionate about building fast, secure, and scalable digital solutions. I combine clean code with modern design to create seamless, high-performing web experiences.</p>
            <div class="buttons">
                <a class="button" target="_blank" href="https://github.com/nikanatenaze">
                    Github <i class="fa-brands fa-github"></i>
                </a>
                <p class="button" routerLink="/about">
                    About <i class="fa-solid fa-face-smile"></i>
                </p>
            </div>
        </div>
    </div>
</section>