.home-start {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 76px;
    padding-left: 40px;
    padding-right: 40px;
    height: 90vh;
}

.pre-content {
    margin-right: 40px;
    gap: 30px;
    flex-direction: column;
    display: flex;
    align-items:end;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.image {
    margin-left: 40px;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.content {
    width: 70%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-family: "Merriweather Sans", sans-serif;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5vw;
}

.content-description {
    font-family: "Open Sans", sans-serif;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
}

.content-des {
    gap: 10px;
    margin-top: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.action-button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #a23eff;
    width: 130px;
    height: 40px;
    transition: 0.3s all ease;
}

.action-button:hover {
    background-color: #a74dfce8;
    backdrop-filter: blur(20px);
}

.stats {
    width: 70%;
    height: 105px;
    gap: 10;
}

.stats-content {
    overflow: hidden !important;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 10px;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.statistic {
    gap: 5px;
    width: 33.3%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    background-color: #f6eafe;
}

.stat {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
}

.stat-title {
    font-size: 1vw;
    font-family: "Roboto", sans-serif;
}


.image-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 80%;
    border-radius: 30px;
}