<section class="home-about container">
    <div class="content">
        <div class="info">
            <p class="title">Programming Languages</p>
            <div class="cards">
                <div class="card">
                    <div class="card-img"></div>
                    <div class="card-content">
                        <p class="card-title">C#</p>
                        <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, ad? </p>
                        <button class="action-button">View</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img" style="background-image: url('https://avatars.mds.yandex.net/i?id=c199cb080d69f7d92a14e715de707b4a7297c18f-12614586-images-thumbs&n=13');"></div>
                    <div class="card-content">
                        <p class="card-title">Java Script</p>
                        <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, ad? </p>
                        <button class="action-button">View</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img" style="background-image: url('https://miro.medium.com/max/1400/1*C24eNZfu0CT5fSTBt6IugA.png');"></div>
                    <div class="card-content">
                        <p class="card-title">Type Script</p>
                        <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, ad? </p>
                        <button class="action-button">View</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img" style="background-image: url('https://avatars.mds.yandex.net/i?id=4ae7eaef03b3e16bb818e9b6dcebd8ea_l-5311680-images-thumbs&n=13');"></div>
                    <div class="card-content">
                        <p class="card-title">HTML/CSS</p>
                        <p class="card-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, ad? </p>
                        <button class="action-button">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
