.home-about {
    color: white;
    width: 100%;
    height: auto;
    background-color: gray;
}

.content {
    font-family: "Roboto", sans-serif;
    padding-top: 40px;
    padding-bottom: 80px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 80px;
}

.title {
    font-size: 40px;
}

.cards {
    gap: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    overflow: hidden;
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    width: 300px;
    height: 400px;
    background-color: white;
    color: black;
    transition: 0.3s all ease;
    backdrop-filter: blur(30px);
}

.card:hover {
    border: 3px solid white;
    color: white !important;
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.582);
}

.card-img {
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('https://repository-images.githubusercontent.com/404376312/729f598e-f863-4857-b06b-3c9b94f7fdc5');
}

.card-content {
    padding-left: 40px  ;
    padding-right: 40px;
    width: 100%;
    height: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-title {
    font-size: 30px;
}

.action-button {
    padding: 7px 30px 7px 30px;
    transition: 0.3s all ease;
    border: 3px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 30px;
}

/* custom background styles */

.container {
    /* Basic dimensions and centering */
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* Dark mode colors and gradient */
    background: #121212; /* Fallback for browsers that don't support gradients */
    background: linear-gradient(
      135deg,
      #121212 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      #121212 50%,
      #121212 75%,
      #1a1a1a 75%,
      #1a1a1a
    );
    background-size: 40px 40px;
  
    /* Animation */
    animation: move 4s linear infinite;
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }
  