<section class="home-featured">
    <div class="content">
        <p class="content-title">Featured works:</p>
        <div class="cards">
            <div class="card">
                <div class="card-image">
                    <div class="card-image-div" style="background-image: url('https://images.pexels.com/photos/811587/pexels-photo-811587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"></div>
                </div>
                <div class="card-content">
                    <div class="content-lable">
                        <p class="card-title">Pet shop</p>
                        <div class="card-statistics">
                            <p class="stat-year">2024</p>
                            <p class="stat-type">Public</p>
                        </div>
                        <p class="card-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci sit nam sint, facere quidem quaerat nisi maiores? Facilis beatae quidem eligendi! Quae.</p>
                        <button class="view-button">View</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <div class="card-image-div" style="background-image: url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"></div>
                </div>
                <div class="card-content">
                    <div class="content-lable">
                        <p class="card-title">Pong console</p>
                        <div class="card-statistics">
                            <p class="stat-year">2025</p>
                            <p class="stat-type">Public</p>
                        </div>
                        <p class="card-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci sit nam sint, facere quidem quaerat nisi maiores? Facilis beatae quidem eligendi! Quae.</p>
                        <button class="view-button">View</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <div class="card-image-div" style="background-image: url('https://images.pexels.com/photos/1181449/pexels-photo-1181449.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"></div>
                </div>
                <div class="card-content">
                    <div class="content-lable">
                        <p class="card-title">Angular project</p>
                        <div class="card-statistics">
                            <p class="stat-year">2024</p>
                            <p class="stat-type">Public</p>
                        </div>
                        <p class="card-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci sit nam sint, facere quidem quaerat nisi maiores? Facilis beatae quidem eligendi! Quae.</p>
                        <button class="view-button">View</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
