.hidden-navigation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.452);
    backdrop-filter: blur(30px);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hidden-navigation p {
    font-size: 30px;
    color: white;
    margin-bottom: 50px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    flex-direction: column;
}

.buttons button {
    width: 190px;
    height: 40px;
    border: 3px solid black;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.active {
    background-color: white !important;
    color: black !important;
    border: none !important;
}