/* About information styles */

.home-start {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.con {
    gap: 30px;
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    width: 70%;
    height: 80%;
}

.info {
    width: 100%;
}

.card {
    overflow: hidden;
    width: 430px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: 0.3s all ease;
    transform: rotate(5deg) scale(0.9);
}

.context {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 56, 56, 0.411);
    backdrop-filter: blur(10px);
    transition: 0.2s all ease;
}

.card:hover {
    transform: scale(1);
}

.context:hover {
    opacity: 1;
}

.info-title {
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-size: 2.7vw;
    font-weight: bold;
}

.info-title span {
    color: darkgoldenrod;
}

.info-text {
    margin-top: 10px;
    font-size: 1.1vw;
    font-family: "Roboto", sans-serif;
}

.action-button {
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    color: white;
    border-radius: 3px;
    margin-top: 20px;
    cursor: pointer;
    padding: 8px 40px 8px 40px;
    transition: 0.3s all ease;
}

.action-button:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.26);
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width:  100%;
    height: 14%;
    overflow: hidden;
    border-radius: 10px;
} 

.stat {
    cursor: pointer;
    border: 3px solid black;
    color: white;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    height: 100%;
    flex-direction: column;
    background-color: 	rgb(0, 0, 0);
    transition: 0.3s all ease;
}

.stat:hover {
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 10px;
}

.stat-info {
    font-size: 20px;
    font-weight: bold;
}

.stat-header {
    font-size: 20px;
}

.context-text {

}

.card-text {
    font-family: "Roboto", sans-serif;
    text-align: center;
    width: 90%;
    font-size: 20px;
}

@media screen and (max-width: 1080px) {
    .info-title {
        font-size: 30px;
    }
    .card {
        display: none;
    }
    .info-text {
        font-size: 2.5vw !important;
    }
    .stat p {
        font-size: 13px;
    }
}

@media screen and (max-width: 320px) {
    .info-text {
        font-size: 4vw !important;
    }
    .info-title {
        font-size: 20px;
    }
    .stat p {
        font-size: 8px;
    }
}

/* Languages styles */

