<!-- About information -->
<section class="home-start">
    <div class="content">
        <div class="con">
            <div class="info">
                <div class="info-title">
                    <p><span>Hola</span>, I'm</p>
                    <p>Nikoloz Natenadze</p>
                </div>
                    <p class="info-text">I’m a passionate web developer who loves creating modern, responsive, and user-friendly websites. I work with JavaScript, HTML, and CSS, and I also know C#, SQL, and Python. I’m currently exploring Angular and learning backend development to become a full-stack developer. I enjoy learning new technologies, improving my design skills, and turning creative ideas into real projects. My goal is to grow as a developer and create digital experiences that make a difference.
                </p>
                <button class="action-button">My projects</button>
            </div>
            <div class="stats">
                <div class="stat">
                    <p class="stat-info">{{years}}+</p>
                    <p class="stat-header">Experiance Years</p>
                </div>
                <div class="stat">
                    <p class="stat-info">{{data.public_repos}}+</p>
                    <p class="stat-header">Projects</p>
                </div>
                <div class="stat">
                    <p class="stat-info">{{data.followers}}</p>
                    <p class="stat-header">Followers</p>
                </div>
            </div>
        </div>
        <div class="card" style="background-image: url('{{data.avatar_url}}');">
            <div class="context">
                <p class="card-text">If you need something more specific or tailored to your project, feel free to share more details!</p>
            </div>
        </div>
    </div>
</section>
<!-- Languages section -->
<section class="languages">
    <p class="languages-title">Programing languages:</p>
    <div class="l-cards">
        <div class="l-card" *ngFor="let language of languages">
            <div class="l-card-image" style="background-image: url({{language.imageUrl}});"></div>
            <div class="l-card-content">
                <div class="l-card-desc">
                    <p class="desc-title">{{language.name}}</p>
                    <p class="desc-level">• {{language.level}} •</p>
                    <p class="desc-text">Note: {{language.desc}}</p>
                </div>
                <button class="l-card-projects">View</button>
            </div>
        </div>
    </div>
</section>