/* About information styles */

.home-start {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.con {
    gap: 30px;
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    width: 70%;
    height: 80%;
}

.info {
    width: 100%;
}

.card {
    overflow: hidden;
    width: 430px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: 0.3s all ease;
    transform: rotate(5deg) scale(0.9);
}

.context {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 56, 56, 0.411);
    backdrop-filter: blur(10px);
    transition: 0.2s all ease;
}

.card:hover {
    transform: scale(1);
}

.context:hover {
    opacity: 1;
}

.info-title {
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-size: 2.7vw;
    font-weight: bold;
}

.info-title span {
    color: darkgoldenrod;
}

.info-text {
    margin-top: 10px;
    font-size: 1.1vw;
    font-family: "Roboto", sans-serif;
}

.action-button {
    background-color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    color: white;
    border-radius: 3px;
    margin-top: 20px;
    cursor: pointer;
    padding: 8px 40px 8px 40px;
    transition: 0.3s all ease;
}

.action-button:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.26);
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width:  100%;
    height: 14%;
    overflow: hidden;
    border-radius: 10px;
} 

.stat {
    cursor: pointer;
    border: 3px solid black;
    color: white;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    height: 100%;
    flex-direction: column;
    background-color: 	rgb(0, 0, 0);
    transition: 0.3s all ease;
}

.stat:hover {
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 10px;
}

.stat-info {
    font-size: 20px;
    font-weight: bold;
}

.stat-header {
    font-size: 20px;
}

.context-text {

}

.card-text {
    font-family: "Roboto", sans-serif;
    text-align: center;
    width: 90%;
    font-size: 20px;
}

@media screen and (max-width: 1080px) {
    .info-title {
        font-size: 30px;
    }
    .card {
        display: none;
    }
    .info-text {
        font-size: 2.5vw !important;
    }
    .stat p {
        font-size: 13px;
    }
}

@media screen and (max-width: 320px) {
    .info-text {
        font-size: 4vw !important;
    }
    .info-title {
        font-size: 20px;
    }
    .stat p {
        font-size: 8px;
    }
}

/* Languages styles */



.languages {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  width: 100%;
  
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

.languages-title {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 30px;
}

.l-cards {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.l-card {
    background-color: white;
    backdrop-filter: blur(5px);
    overflow: hidden;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: scale(1);
    transition: 0.3s all ease;
}

.l-card:hover {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.212);
    border: 3px solid white;
    transform: scale(0.95);
    font-size: 15px;
}

.l-card-image {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.l-card-content {
    flex-direction: column;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.l-card-projects {
    color: white;
    background-color: rgb(22, 22, 22);
    border-top: 1px solid gray !important;
    border: none;
    cursor: pointer;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.l-card-desc {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.desc-title {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.desc-level {
    font-weight: 500;
    font-size: 16px;
    font-family:  "Roboto", sans-serif;
}

.desc-text {
    font-size: 15px;
    width: 80%;
    text-align: center;
    font-family: "Roboto", sans-serif;
}


