.content {
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("https://images.pexels.com/photos/6298412/pexels-photo-6298412.jpeg");
}

body {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.content-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.200);
    backdrop-filter: blur(2.5px);
}

.info {
    margin-bottom: 10vh;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.title span {
    color: gold !important;
}

.info-content {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    width: 400px;
}

.buttons {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.button {
    cursor: pointer;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    border: 2px solid gold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.438);
    padding-bottom: 30px;
    padding-top: 30px;
    width: 170px;
    color: white;
    height: auto;
    transition: 0.3s all ease;
    text-decoration: none;
    color: white;
}

.button:hover {
    transform: rotate(2grad);
    border-radius: 10px;
    background-color: gold;
}