.projects-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*  */
  --color: #bdbdbd;
  background-color: #f0f0f0;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}

.content-section {
    gap: 30px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 8vh;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-title {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.cards {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    cursor: pointer;
    border-radius: 5px;
    width: 250px;
    height: 350px;
    background-color: rgb(204, 204, 204);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-image {
    width: 100%;
    height: 60%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWTXG7nWNJbvcEPk1RE0wjgrO4N98Ls0EsKg&s");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-content {
    padding: 15px;
    padding-top: 0px;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.card-content p:first-child {
    font-size: 18px;
    font-weight: bolder;
}

.card-desc {
    margin-top: 5px;
    font-size: 15px;
}

.card-info {
    font-size: 11px;
    font-weight: bold;
}

.card-content {
    font-size: 15px;
    margin-top: 10px;
}