.projects-page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*  */
  --color: #bdbdbd;
  background-color: #fdfbfb;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}

.content-section {
    gap: 50px;
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin-top: 8vh;
    margin-bottom: 8vh;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-title {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.cards {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card {
    cursor: pointer;
    border-radius: 5px;
    width: 250px;
    height: 350px;
    background-color: rgb(240, 240, 240);
    box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.3),
                1px 1px 4.5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s all ease;
}

.card:hover {
    transform: scale(0.95);
}

.card-image {
    width: 100%;
    height: 60%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWTXG7nWNJbvcEPk1RE0wjgrO4N98Ls0EsKg&s");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-content {
    padding: 15px;
    padding-top: 0px;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.card-content p:first-child {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    font-weight: bolder;
}

.card-desc {
    margin-top: 5px;
    font-size: 15px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
}

.card-info {
    font-size: 11px;
    font-weight: bold;
}

.card-content {
    font-size: 15px;
    margin-top: 10px;
}